/* Main-Wrapper */
.sidebar {
  position: fixed;
  width: 150px;
  right: -150px;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 15px 0;
  transition: right 0.7s ease-in 0.5s;
  display: none;
  z-index: 3;

  &:after {
    content: "\f0c9";
    font-family: "FontAwesome";
    font-weight: 900;
    font-size: 2em;
    font-style: normal;
    text-decoration: inherit;
    color: #ffffff;
    position: absolute;
    right: 100%;
    top: 5.5%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.9);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    cursor: pointer;
  }

  &:hover {
    right: -20px;
    transition: right 1s ease-in 0s;

    &:after {
      content: "\f00d";
    }
  }
}
/* Main-Wrapper - End */

/* Global Styles */
.sidebar {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      position: relative;

      a {
        padding: 10px 5px;
        padding-left: 30px;
      }

      &:hover {
        background-color: #ffcc8d;

        & > ul {
          top: 0%;
        }
      }

      & > ul {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        top: 1999px;
        left: 100%;
        transition: top 0.5s;

        li {
          min-width: 120px;
        }

        &:hover {
          top: 0%;
        }
      }
    }

    a {
      color: #ffffff;
      text-decoration: none;
      padding-left: 25px;
      display: block;

      &:after {
        content: "\f054";
        font-family: "FontAwesome";
        display: block;
        position: absolute;
        left: 15px;
        top: 13px;
        font-size: 12px;
      }
    }
  }

  /* First-Level Navigation */
  & > ul {
    margin-top: 32px;
  }
}

@media (max-width: 900px) {
  body .container {
    display: block;
  }
  .sidebar {
    display: block;
  }
  body .container .left,
  body .container .right {
    margin: 15px;
    width: calc(100% - 60px);
  }
}
